<!doctype html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
<body>
    <div class = "common-container">
        <header class="header">
            <div><a>{{ res_value('APP_NAME') }}</a></div>
            <div><a></a></div>
            <div class="header-r">
                   {% if session['language'] == 'ru' %}
                            <a href="/language/kz">ҚАЗ</a>
                    {% else %}
                            <a href="/language/ru">РУС</a>
                   {% endif %}
                  {% if g.user.is_anonymous == True %}
                            <a href="/login">{{ res_value('LOGIN') }}</a>
                    {% else %}
                            <a href="/logout">{{ res_value('LOGOUT') }}</a>
                  {% endif %}

            </div>
        </header>

        <nav class="nav">
            <a class="a_list" href="/history">{{ res_value('ALL_HISTORY') }}</a>
            <a class="a_list" href="/refund-add">{{ res_value('ADD_REFUND') }}</a>
          {% if g.user.is_anonymous == True %}
            <a class="a_list" href="/about">{{ res_value('ABOUT') }}</a>
            <a class="a_list" href="/login">{{ res_value('LOGIN') }}</a>
            <p></p>
            {% else %}
            <a class="a_list" href="/about">{{ res_value('ABOUT') }}</a>
            <a class="a_list" href="/register">{{ res_value('NEW_NICK') }}</a>
            <a class="a_list" href="/logout">{{ res_value('LOGOUT') }}</a>
          {% endif %}
            <p></p>
        </nav>

        <div class="article_title">
            {% block main_title %}{% endblock %}
        </div>
        <article class="article">
                <div>
                    {% block body %}{% endblock %}
                </div>
        </article>

        <footer class="footer">
              <div class="footer-l">
                 <small>© 2021</small>
              </div>
              <div class="footer-r">
                  <small style="visibility: hidden">{{ res_value('CREATORS') }}</small>
                  <small style="visibility: hidden">{{ res_value('FOR_DEVELOPERS') }}</small>
                  <a style="font-size:14px">{% if g.user.is_authenticated %} {{ g.user.username }} {% endif %}</a>
              </div>
        </footer>
    </div>
</body>

</html>