{% extends 'base.html' %}

{% block title %}
    {{ res_value('ALL_HISTORY') }}
{% endblock %}

{% block main_title %}
    <h1  class="title">{{ res_value('ALL_HISTORY') }}</h1>
{% endblock %}

{% block body %}
<!--<div class="forms_model_list">-->
<form class="form_register" method="POST">
     <table class="table_model_status">
         <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
         </colgroup>
         <thead>
             <tr>
                 <th><a>{{ res_value('SIOR_ID') }}</a></th>
                 <th><a>{{ res_value('GFSS_IN_NOM') }}</a></th>
                 <th><a>{{ res_value('PERIOD') }}</a></th>
                 <th><a>{{ res_value('SUM_GFSS') }}</a></th>
                 <th><a>{{ res_value('P_BIN') }}</a></th>
                 <th><a>{{ res_value('IIN') }}</a></th>
                 <th><a>{{ res_value('DATE_RET') }}</a></th>
                 <th><a>{{ res_value('DOC_DATE_DF') }}</a></th>
                <th>
                    <a class="command-detail" href="/refund-add">{{ res_value('ADD_REFUND') }}</a>
                </th>
             </tr>
         </thead>
         <tfoot></tfoot>
         <tbody>
              <tr>
                <td>
                    <input type="text" size="9" maxlength="11" id="sior_id" name="sior_id" pattern="[0-9]{6,11}" placeholder="Номер заявки">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" size="12" maxlength="12" name="iin" pattern="[0-9]{6,12}" placeholder="ИИН"><br>

                </td>
                <td></td>
                <td></td>
<!--                <td><input class="bt success" type="submit" value="{{ res_value('SEARCH') }}"></td>-->

                <td>
                    <input class="command-detail" type="submit" value="{{ res_value('SEARCH') }}" autofocus hidden="hidden">
                    <a class="bt_report" href="/history/report_031"></a>
                </td>
              </tr>
            {% for el in cursor %}
              <tr>
                <td>{{ el.sior_id }}</td>
                <td>{{ el.gfss_in_nom }}</td>
                <td>{{ el.period }}</td>
                <td>{{ el.sum_gfss }}</td>
                <td>{{ el.p_bin }}</td>
                <td>{{ el.iin }}</td>
                <td>{{ el.date_ret }}</td>
                <td>{{ el.doc_date_df.date() }}</td>
                <td>
                    <a class="command-detail" href="/history/{{ el.id_hist }}">{{ res_value('MORE_DETAILS') }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
    </table><br>
<!--</div>-->
</form>
{% endblock %}