{% extends 'base.html' %}

{% block title %}
    {{ res_value('ADD_PERSONS') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ res_value('ADD_PERSONS') }}</h1>
{% endblock %}

{% block body %}
<!--<form class="form_register" method="POST">-->
<form class="form_register" method="POST" enctype="multipart/form-data">
     <input class="bt save" type="file" name="file" accept=".xlsx,.xls">
     <input class="bt save" type="submit" value="{{ res_value('ADD_PERSONS') }}">
</form>
{% endblock %}
