{% extends 'base.html' %}

{% block title %}
    {{ res_value('DETAIL_INFO') }}
{% endblock %}

{% block main_title %}
    <h1  class="title">{{ name_task }}</h1>
{% endblock %}

{% block body %}
<div>
    <table class="table_model_status">
        <thead>
         <tr>
             <th><a class="title2">{{ res_value('THEME_NAME') }}</a></th>
             <th><a class="title2">{{ res_value('THEME_NUMBER') }}</a></th>
             <th><a class="title2">{{ res_value('COUNT_QUESTION') }}</a></th>
             <th><a class="title2">{{ res_value('COUNT_SUCCESS') }}</a></th>
             <th></th>
         </tr>
        </thead>
        <tbody>
        {% for el in cursor %}
            <tr>
                <td style="text-align: left"><a class="title2" href="/theme/{{ id_task }}/{{ el.id_theme }}">{{ el.theme_name }}</a></td>
                <td><a class="title2">{{ el.theme_number }}</a></td>
                <td><a class="title2" size="2" maxlength="2" name="count_question">{{ el.count_question }}</a></td>
                <td><a class="title2" size="2" maxlength="2" name="count_success">{{ el.count_success }}</a></td>
                <td><a class ="bt danger" href="/theme/{{ id_task }}/{{ el.id_theme }}/del">{{ res_value('BUTTON_DELETE') }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/program-detail/{{ id_task }}/load-file" class="article_title" method="POST" enctype="multipart/form-data">
        <table style="margin: 20px;">
            <tr>
                <td>
                    <input type="file" name="file-theme" id="file-theme" class="upload-file-input" accept=".xlsx,.xls" size="60">
                    <label class="upload-file-label" for="file-theme">
                        <svg class="upload-file__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M286 384h-80c-14.2 1-23-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c11.6 11.6 3.7 33.1-13.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-23-23V366c0-13.3 10.7-24 24-24h136v8c0 31 24.3 56 56 56h80c30.9 0 55-26.1 57-55v-8h135c13.3 0 24 10.6 24 24zm-124 88c0-11-9-20-19-20s-19 9-20 20 9 19 20 20 21-9 20-20zm64 0c0-12-9-20-20-20s-20 9-19 20 9 20 20 20 21-9 20-20z">
                            </path>
                        </svg>
                        <span class="upload-file__text">Выбрать файл c тестами</span>
                    </label>
                </td>
                <td>
                    <input type="file" name="file-persons" id="file-persons" class="upload-file-input" accept=".xlsx,.xls" size="60">
                    <label class="upload-file-label" for="file-persons">
                        <svg class="upload-file__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M286 384h-80c-14.2 1-23-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c11.6 11.6 3.7 33.1-13.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-23-23V366c0-13.3 10.7-24 24-24h136v8c0 31 24.3 56 56 56h80c30.9 0 55-26.1 57-55v-8h135c13.3 0 24 10.6 24 24zm-124 88c0-11-9-20-19-20s-19 9-20 20 9 19 20 20 21-9 20-20zm64 0c0-12-9-20-20-20s-20 9-19 20 9 20 20 20 21-9 20-20z">
                            </path>
                        </svg>
                        <span class="upload-file__text">Выбрать файл с тестируемыми</span>
                    </label>
                </td>
            </tr>
            <tr>
        {#     <button class="bt save" type="submit">{{ res_value('GOTO_LOAD') }}</button>#}
            </tr>
        </table>
        <input class="bt save" type="submit" value="{{ res_value('GOTO_LOAD') }}">
    </form>
</div>
{% endblock %}