{% extends 'base.html' %}

{% block title %}
    {{ res_value('ADD_PROGRAM') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ res_value('ADD_PROGRAM') }}</h1>
{% endblock %}

{% block body %}
<form class="form_history_create" method="POST">
<!--<form class="form_register" method="POST">-->
    <table>
       <tbody>
            <tr>
                <td><p class="title2">{{ res_value('PERIOD_FOR_TESTING') }}</p></td>
                <td><input type="text" size="5" maxlength="5" style="width: 10%" name="period_for_testing"><br></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('NAME_TASK') }}</p></td>
                <td><input type="text" size="96" maxlength="256" style="width: 100%" name="name_task"><br></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="bt save" value="{{ res_value('SAVE') }}">
</form>
{% endblock %}
