.form_history_create input, .form_history_create textarea,
.form_register input, .form_login input
{
    margin: 4px;
    padding: 5px;
	border-radius: 4px;
    border: 1px solid rgba(0, 47, 189, 0.15);
    background-color: rgba(239, 220, 112, 0.08);
}
.form_history_create input{
    width: 150px;
}
.form_history_create .txt-long
{
    width: 400px;
}
.form_history_create .textarea_full
{
    width: 99%;
}
.title_message{
    margin-left: 10px;
    padding: 12px;
}
input[name="username"], input[name*="password"]
{
    color: var(--base-color-text);
    margin:10px;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 47, 189, 0.2);
    background-color: rgba(229, 226, 212, 0.2);
}
input[name="username"]:hover, input[name*="password"]:hover
{
    color: rgba(141, 12, 12, 0.85);
    border-radius: 4px;
    background-color: rgba(220, 215, 179, 0.27);
    box-shadow:0 0 15px 4px rgba(54, 85, 127, 0.2);
}
/*input[type="file"] {*/
/*    display: none;*/
/*}*/
/*.custom-file-upload {*/
/*    border: 1px solid #ccc;*/
/*    display: inline-block;*/
/*    padding: 6px 12px;*/
/*    cursor: pointer;*/
/*}*/